/*Colour scheme and fonts*/
body {
  font-size: 17px;
  line-height: 1.8;
  color: #313131;
  font-weight: lighter;
  font-family: 'Lora', serif;
  margin: 0;
}

h1, h4 {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-weight: semi-bold;
}

h4 {
  font-weight: normal;
  color: #7C7C7C;
}

h5 {
  line-height: 1.5;
}

/*Custome design with class*/
.av {
  height: 40vh;
}

.banner {
  background-image: url("http://oi68.tinypic.com/34ipzf4.jpg");
  background-position: center bottom;
  background-size: cover;
  color: white;
  padding: 150px 0;
  margin-bottom: 20px;
  text-align: left;
  position: relative;
  height: 60vh;
}
.sit {
  position: absolute;
  bottom: 40px;
}

.banner h1 {
  font-size: 38;
  bottom: 10px;
}

.banner p {
  font-size: 25px;
  font-style: italic;
  opacity: 0.8;
}

.link {
  background-image: linear-gradient(to bottom, rgba(233, 253, 240, 1), rgba(233, 253, 240, 1));
  text-decoration: none;
  color: #8A8A8A;
  font-size: 20px;
  font-style: italic;
  font-weight: normal;
}

.link:hover {
  background-image: linear-gradient(to bottom, rgba(125, 255, 179, 1), rgba(125, 255, 179, 1));
  text-decoration: none;
}
