<div class="banner" alt="Cover Photo">

  <div class="container hidden-xs hidden-sm hidden-md">
    <div class="col-sm-10 sit">
      <div class="titleWrapper container">

          <h1 class="first">Chamindu Salman</h1>

          <h1 class="second">Web Developer</h1>

      </div>
    </div>
  </div>

  <div class="container  hidden-lg">
    <div class="col-sm-10 sit">
      <ul class="container list-inline">

      <li><h1>Chamindu Salman</h1></li>

      <li><p>Web Developer</p></li>

      </ul>
    </div>
  </div>

</div>

<div class="container centered avatarspace">
    <div class="avatar">
      <img src="https://avatars1.githubusercontent.com/u/26670588?v=4&s=460">
    </div>

    <h6>chamindu07@gmail.com +447440422281</h6>
    <h6>111 Coleman Road, London SE5 7TF</h6>

</div>

<div class="container">
  <div class="col-sm-12">
      <h4>Personal Profile</h4>
    <div class="card">
      <p>
        Enthusiastic team player, worked in a team to design, implement and ship to production a clone of AirBnB and a Rails cooking planner web-app called HUBERT in 10 days. Holds strong analytical skills, is IT savvy, and is comfortable with high numeracy demands; scored firsts on maths related exams at university. Possesses a creative mind, is self-motivated and prioritises attention to detail and presentability. Was team treasurer for a Prince’s Trust fund raising project held by the Institute of Directors. Completed a Marketing internship at Baralan International Ltd in Milan.
      </p>
    </div>
  </div>
</div>

<div class="container">
<div class="col-sm-12"><h4>Experience</h4></div>

  <div class="col-sm-12 col-md-6 col-lg-4">
    <div class="card">
      <h3>HUBERT</h3>
      <h6>2017</h6>
      <h5>Co-founder of <a href="http://www.hubert-cooks.com/" class="link">HUBERT</a></h5>
      <h5>& Front End Developer</h5>
      <p>Designing website using HTML and CSS to create an eye-catching effect.
      <p>Designing swipe animation feature for the meals planner using JavaScript, jQuery and Ajax.</p>
      <p>Programming a scraper, that scrapes from pages of lists of recipes including thumbnail and full-size image of the dish, cooking time, difficulty, title, ingredients and description, a Rails cooking planner web-app.</p>
    </div>
  </div>

  <div class="col-sm-12 col-md-6 col-lg-4">
    <div class="card">
      <h3>Prince’s Trust Million Makers fundraising project</h3>
      <h6>2015</h6>
      <h5>Team Treasurer</h5>
      <p>Proposed two event ideas out of the chosen four for Prince’s Trust fund raising project including a charity club night and a charity zombie run.</p>
      <p>Drawing on Excel three breakeven charts with different levels of pricing.</p>
      <p>Selling pastries and cookies to students and lecturers at the entrance of Nottingham Boots Library.</p>
    </div>
  </div>

  <div class="col-sm-12 col-md-6 col-lg-4">
    <div class="card">
      <h3>Baralan International Ltd</h3>
      <h6>2012</h6>
      <h5>Marketing Assistant Internship</h5>
      <p>Leading the re-making of the company product catalogue, involved extensive work with excel spreadsheets.</p>
      <p>Developed communication skills by regularly reporting to the manager.</p>
      <p>Gained insight to the interpersonal qualities involved in a family business.</p>
    </div>
  </div>

</div>

<div class="container">
<div class="col-sm-12"><h4>Education and Qualifications</h4></div>

  <div class="col-sm-12 col-md-6 col-lg-3">
    <div class="card">
    <h3>Le Wagon</h3>
    <h6>2017</h6>
    <h5>9-week intensive coding boot camp learning HTML, CSS, Bootstrap, JavaScript, jQuery, SQL, git, Github, Heroku and Ruby on Rails</h5>
    </div>
  </div>

  <div class="col-sm-12 col-md-6 col-lg-3">
    <div class="card">
    <h3>Nottingham Trent University</h3>
    <h6>2016</h6>
    <h5>Awarded Second Class Honours in BA(Hons) Business (direct entry to 2nd year) with CMI Level 5 Certificate – Management and Leadership (QCF)</h5>
<!--         <p>
    Numeracy training through Survey Resources and Analytics for Business module Understanding of financial mechanisms through Financial Environment module Greater awareness of people management through Managing and Organising for Human Resources module
    </p> -->
    </div>
  </div>

  <div class="col-sm-12 col-md-6 col-lg-3">
    <div class="card">
    <h3>University of Hull</h3>
    <h6>2014</h6>
    <h5>Awarded Second Upper Class in BA(Hons) Business and Financial Management</h5>
<!--         <p>71% (1 st Class) Finance and Accounting</p>
    <p>70% (1 st Class) Marketing</p> -->
    </div>
  </div>

  <div class="col-sm-12 col-md-6 col-lg-3">
    <div class="card">
    <h3>International School of Milan</h3>
    <h6>2013</h6>
    <h5>International Baccalaureate Diploma (30 Points out of 45)</h5>
<!--         <p>At higher level: English Language and Literature, Business and Management, Art</p>
    <p>At standard level: Physics, Italian, Maths Studies</p> -->
    </div>
  </div>
</div>

<div class="container">
<div class="col-sm-12"><h4>Skills Profile</h4></div>

    <div class="col-sm-12">
      <div class="card">
        <h3>Teamwork Skills</h3>

        <p>Capable of adapting to demanding team environments, HUBERT was designed, implemented and shipped to production in the space of 10 long intense days, by a team of 4 individuals with no prior web development knowledge.</p>
        <p>Strong contributor to the team, in the final year at Nottingham Trent University scored 81% (1 st Class) on the Leadership & Employability team project; worked with Baldwins Accounting to write up an action plan to achieve the iiE environment accreditation. Produced payback period to compare a green car’s efficiency to their company car.</p>

      </div>
    </div>

    <div class="col-sm-12 col-md-6">
      <div class="card">
        <h3>Numeracy Skills</h3>

        <p>In the first semester at Nottingham Trent University scored 81% (1 st Class) on the Minitab 17 (a statistics package) exam in Survey and Research Analysis for Business module.</p>
        <p>At University of Hull scored 86% (1st Class) on the Quantitative Methods exam in Academic and Professional Skills module.</p>

      </div>
    </div>

    <div class="col-sm-12 col-md-6">
      <div class="card">
        <h3>Language & Cultural Awareness</h3>

        <p>Fluent in English knows Italian, Sinhalese and Spanish.</p>
        <p>Attended an international school from grade two; enjoyed interacting with individuals from diverse cultural backgrounds.</p>

      </div>
    </div>

</div>

<div class="container centered">
<div class="col-sm-12"><h4>References are available upon request</h4></div>
</div>
