<div class="banner">
  <div class="container">
    <h1>Chamindu Salman</h1>
    <p>Apprentice in Software Engineering</p>
  </div>
</div>

<div class="container">
  <h4>Personal Profile</h4>
  <p>
    Enthusiastic team player, worked in a team to design, implement and ship to production a clone of AirBnB and a Rails cooking planner web-app called HUBERT in 10 days. Holds strong analytical skills, is IT savvy, and is comfortable with high numeracy demands; scored firsts on maths related exams at university. Possesses a creative mind, is self-motivated and prioritises attention to detail and presentability. Was team treasurer for a Prince’s Trust fund raising project held by the Institute of Directors. Completed a Marketing internship at Baralan International Ltd in Milan.
  </p>
  <h4>Education and Qualifications</h4>
  <a href="#" class="link">HUBERT</a>
</div>
